{{#>Layout}}
  <div class='paper'>
    <div class='login'>
      <h2>Вход</h2>
      <form id='login-form' action='' method='post' class='login__form'>
        {{>LWInput name='login' label='Логин' value='ivanovivan'}}
        {{>LWInput name='password' type='password' label='Пароль' value='admin1234'}}
      </form>
      {{>LWButton textButton='Авторизоваться'}}
      <a class='subtitle' href='/signin'>Нет аккаунта?</a>
    </div>
  </div>
{{/Layout}}