.LWInput {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.LWInput__input {
    width: 100%;
    border: none;
    outline: none;
    color: var(--white);
}

.LWInput__input--default {
    padding: var(--s1) 0;
    background-color: transparent;
    border-bottom: 1px solid var(--grey);
}

.LWInput__input--contained {
    padding: var(--s1);
    background-color: var(--bg-main);
    border-radius: 5px;
}

.LWInput__input:focus-visible {
    border-bottom: 1px solid var(--primary);
}

.LWInput .input--error {
    border-bottom: 1px solid var(--error);
}

.LWInput .input--error:focus-visible {
    border-bottom: 1px solid var(--error);
}


.LWInput p {
    margin-top: 4px;
}