.LWButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    min-height: var(--s3);
    border-radius: var(--s1);
    transform: scale(1);
    padding: var(--s1);
    max-width: 270px;
}

.LWButton--white {
    color: var(--white);
}

.LWButton--primary {
    color: var(--primary);
}

.LWButton--error {
    color: var(--error);
}

.LWButton--contained {
    box-shadow: var(--bs-primary);
    background-color: var(--primary);
}

.LWButton--text {
    background-color: transparent;
}

.LWButton:active {
    transform: scale(0.95);
}

.LWButton__padding--small p {
    padding: 5px;
}

.LWButton__padding--default p {
    padding: 5px 70px;
}

.LWButton__padding--none p {
    padding: 0;
}