.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 100%;
    gap: var(--s4);
}

.profile__avatar {
    display: flex;
    flex-direction: column;
    gap: var(--s2);
    align-items: center;
    justify-content: center;
}

.profile__avatar-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    background-color: var(--primary25);
    border-radius: 65px;
    position: relative;
    overflow: hidden;
}

.profile__avatar-icon:hover:before {
    display: flex;
    content: 'Поменять аватар';
    height: 100%;
    border-radius: 65px;
    position: absolute;
    align-items: center;
    text-align: center;
    background-color: var(--bg-modal);
    cursor: pointer;
    animation: scaleIn 150ms ease-in-out;
}

.profile__info-list {
    display: flex;
    width: 100%;
    justify-content: center;
}

.profile__info-list ul {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 500px;
    align-items: center;
    gap: var(--s1);
}

.profile__info-list ul > li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
}

.profile__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
