{{#>Layout}}
  <div class='paper'>
    <div class='signin'>
      <h2>Регистрация</h2>
      <form id='signin-form' action='' method='post' class='signin__form'>
        {{>LWInput name='email' type='email' label='Почта' value='pochta@yandex.ru'}}
        {{>LWInput name='login' label='Логин' value='ivanovivan'}}
        {{>LWInput name='firstname' label='Имя' value='Иван'}}
        {{>LWInput name='firstname' label='Фамилия' value='Иванов'}}
        {{>LWInput name='firstname' label='Телефон' value='+79991237575'}}
        {{>LWInput name='password' type='password' label='Пароль' value='admin1234'}}
        {{>LWInput name='repaeat-password' type='password' label='Повторите пароль' value='admin1234'}}
      </form>
      {{>LWButton textButton='Зарегистрироваться'}}
      <a class='subtitle' href='/login'>Войти</a>
    </div>
  </div>
{{/Layout}}