.snackbar {
    color: white;
    padding: var(--s2);
    font-size: 14px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: max-content;
    min-width: 150px;
    width: auto;
    animation: snackbar 0.5s;
    animation-fill-mode: forwards;
    border-radius: 5px;
    z-index: 9;
}

.snackbar--success {
    background-color: var(--primary);
}

.snackbar--primary {
    background-color: #0288d1;
}

.snackbar--error {
    background-color: #d32f2f;
}

@keyframes snackbar {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}