.pointer {
    cursor: pointer;
}
.paper {
    display: flex;
    box-shadow: var(--bs-primary);
    background-color: var(--bg-paper);
    height: min-content;
}

.error--text {
    color: var(--error);
}
.grey--text {
    color: var(--grey);
}
.subtitle {
    font-size: 12px;
}